/* 
    Primary Tints (Buttons, Links, etc): #4631aa
    Surface Colors (Cards, Backgrounds, etc): #282828
    Surface Colors 2 (Cards, Backgrounds, etc): #3f3f3f
    Tonal Surface Colors (Cards, Backgrounds, etc): #2c2934
*/

*{
    margin: 0;
    padding: 0;
}

body {background: black;}
canvas {display:block;}
